<% content_for :content do %>
    <div class="explanation">
      <% ["choirhouse", "select6", "cowtrip"].each do |project| %>
        <div id="<%= project %>-sidebar">
          <h2><%= t "#{project}.header" %></h2>
          <p><%= t "#{project}.description" %></p>

          <h2><%= t "#{project}.about" %></h2>
          <p><%= t "#{project}.first_paragraph" %></p>
          <p><%= t "#{project}.second_paragraph" %></p>
          <p><%= t "#{project}.third_paragraph" %></p>

          <%= render :partial => "projects/#{project}_#{I18n.locale}" rescue nil %>
        </div>
      <% end %>
    </div>
<% end %>

<div id="clickables" class="portfolio">
  <% [["choirhouse", "select6", "cowtrip"]].each do |project_list| %> <!-- put them in threes-->
      <ul class="row thumbnails">
        <% project_list.each do |project| %>
            <li id="<%= project %>" class="clickable" %>
              <div class="thumbnail">
                <a href="#"><img src="<%= image_path("#{project}.png") %>" alt=""></a>

                <p><%= t "#{project}.header" %></p>


              </div>
            </li>
        <% end %>
      </ul>
  <% end %>

</div>