<div class="container-fluid">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1><%= t "about.we_make_apps" %></h1>

    <p><%= t "about.we_make_apps_desc" %></p>

    <!--<p><a class="btn btn-primary btn-large">Learn more »</a></p>-->
  </div>

  <!-- Example row of columns -->
  <div class="row-fluid">
    <div class="span4">
      <h2><%= t "about.rails" %></h2>

      <p><%= t "about.rails_desc" %></p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2><%= t "about.payments" %></h2>

      <p><%= t "about.payments_desc" %></p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2><%= t "about.social" %></h2>

      <p><%= t "about.social_desc" %></p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <h2><%= t "about.applications" %></h2>

      <p><%= t "about.applications_desc" %></p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2><%= t "about.custom_dev" %></h2>

      <p><%= t "about.custom_dev_desc" %></p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2><%= t "about.other_lang" %></h2>

      <p><%= t "about.other_lang_desc" %></p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
  </div>

  <hr>

</div>