<div id="myCarousel" class="carousel">
  <!-- Carousel items -->


  <div class="carousel-inner">
    <div class="active item">
      <img src="/assets/carousel-ror.png" alt="">
      <div class="carousel-desc">
      <h2><%= t "about.rails" %></h2>
      <p>
        <%= t "about.rails_desc" %>
      </p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel-custom-dev.png" alt="">
      <div class="carousel-desc">
        <h2><%= t "about.custom_dev" %></h2>
        <p><%= t "about.custom_dev_desc" %></p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel-social.png" alt="">
      <div class="carousel-desc">
        <h2><%= t "about.social" %></h2>
        <p><%= t "about.social_desc" %></p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel-applications.png" alt="">
      <div class="carousel-desc">
      <h2><%= t "about.applications" %></h2>
      <p><%= t "about.applications_desc" %></p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel-payments.png" alt="">
      <div class="carousel-desc">
        <h2><%= t "about.payments" %></h2>
        <p><%= t "about.payments_desc" %></p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

