<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Redwarrior</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- Le fav and touch icons -->
  <!--<link href="images/favicon.ico" rel="shortcut icon">-->
  <!--<link href="images/apple-touch-icon.png" rel="apple-touch-icon">-->
  <!--<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">-->
  <!--<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">-->
  <%= render :partial => "layouts/shared/header" %>
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />

</head>
<body>

<div id="wraper">

  <%= render :partial => "layouts/shared/navbar" %>

  <div id="warrior-up-side-down"></div>
  <div id="dots-sw"></div>

  <div class="container-fluid mid-outer">
    <div class="row-fluid">
      <div class="container mid">
        <div class="container-fluid">

            <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <div id="content" class="container">
    <div>
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
    <% end %>

    <%= yield :content %>
    <%= render :partial => "layouts/shared/footer" %>
  </div>
  </div>
  <div id="content-bottom" class="container"></div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>

</body>
</html>
